<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.debug.kill.model.mapper.RedRobRecordMapper">
    <!--    结果集映射   -->
    <resultMap id="BaseResultMap" type="com.debug.kill.model.entity.RedRobRecord">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="red_packet" property="redPacket" jdbcType="VARCHAR"/>
        <result column="amount" property="amount" jdbcType="DECIMAL"/>
        <result column="rob_time" property="robTime" jdbcType="TIMESTAMP"/>
        <result column="is_active" property="isActive" jdbcType="TINYINT"/>
    </resultMap>
    <!--    列     -->
    <sql id="Base_Column_List">
        id,user_id,red_packet,amount,rob_time,is_active
    </sql>
    <!--    依据主键查询  -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.debug.kill.model.entity.RedRobRecord">
        select
        <include refid="Base_Column_List"/>
        from red_rob_record
        where id=#{id,jdbcType=INTEGER}
    </select>
    <!--    依据主键删除  -->
    <delete id="deleteByPrimaryKey" parameterType="com.debug.kill.model.entity.RedRobRecord">
        delete
        from red_rob_record
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <!--    插入    -->
    <insert id="insert" parameterType="com.debug.kill.model.entity.RedRobRecord">
        insert into red_rob_record (id, user_id, red_packet, amount, rob_time, is_active)
        VALUES (#{id,jdbcType=INTEGER},
                #{userId,jdbcType=INTEGER},
                #{redPacket,jdbcType=VARCHAR},
                #{amount,jdbcType=DECIMAL},
                #{robTime,jdbcType=TIMESTAMP},
                #{isActive,jdbcType=TINYINT})
    </insert>
    <!--    条件插入    -->
    <insert id="insertSelective" parameterType="com.debug.kill.model.entity.RedRobRecord">
        insert into red_rob_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id">
                id,
            </if>
            <if test="userId">
                user_id,
            </if>
            <if test="redPacket">
                red_packet,
            </if>
            <if test="amount">
                amount,
            </if>
            <if test="robTime">
                rob_time,
            </if>
            <if test="isActive">
                is_active,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="redPacket != null">
                #{redPacket,jdbcType=VARCHAR},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=DECIMAL},
            </if>
            <if test="robTime">
                #{robTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isActive != null">
                #{isActive,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <!--    根据主键id更新数据库记录(有条件)       -->
    <update id="updateByPrimaryKeySelective" parameterType="com.debug.kill.model.entity.RedRecord">
        update red_rob_record
        <set>
            <if test="userId != null">
                user_id=#{userId,jdbcType=INTEGER},
            </if>
            <if test="redPacket != null">
                red_packet=#{redPacket,jdbcType=VARCHAR},
            </if>
            <if test="amount != null">
                amount=#{amount,jdbcType=DECIMAL},
            </if>
            <if test="robTime != null">
                rob_time=#{robTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isActive!=null">
                is_active=#{isActive,jdbcType=TINYINT},
            </if>
        </set>
        where id=#{id,jdbcType=INTEGER}
    </update>
    <!--    依据主键更新      -->
    <update id="updateByPrimaryKey" parameterType="com.debug.kill.model.entity.RedRecord">
        update red_rob_record
        set user_id    = #{userId,jdbcType=INTEGER},
            red_packet = #{redPacket,jdbcType=VARCHAR},
            amount     = #{amount,jdbcType=DECIMAL},
            rob_time   = #{robTime,jdbcType=TIMESTAMP},
            is_active  = #{isActive,jdbcType=TINYINT}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
